﻿@model IEnumerable<WebShop.Models.ProductModels>

<div class="panel">

    <p class="panel-heading">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addNewProductModal">Add New</a>
    </p>

    <div style="overflow-x:auto" class="panel-body">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        Subcategory
                    </th>
                    <th>
                        Product
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Created_At
                    </th>
                    <th>
                        Updated_At
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.SubcategoryModels.Name)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Name)
                        </th>
                        <th>
                            <img src="@item.ImagePath" alt="Alternate Text" height="30" width="30" />
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Price)
                        </th>
                        <th>
                            @item.Created_At.ToString("dd-MM-yyyy HH:mm")
                        </th>
                        <th>
                            @item.Updated_At.ToString("dd-MM-yyyy HH:mm")
                        </th>
                        <th style="position:relative;">
                            <div id="actionButtons">
                                <a href="#" class="editDeleteDetailsButton" onclick="getDetails(@item.Id);"><i class="fa fa-info-circle" style="color:#3394ce;"></i></a>
                                <a href="#" class="editDeleteDetailsButton" value="button" onclick="deleteProduct(@item.Id);"><i class="fa fa-trash" style="color:#c74646;"></i></a>
                            </div>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addNewProductModal" tabindex="-1" role="dialog" aria-labelledby="addProduct" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Add New Product</h3>
            </div>
            <div class="modal-body">
                @Html.Action("Admin_Product_Create", "Product")
            </div>
        </div>
    </div>
</div>




