﻿@model WebShop.Models.ProductModels

<style>
    .alignRight {
        text-align: right;
    }
</style>

<div class="row">
    @*Product details*@
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading" style="text-align:right">
                <a class="editDeleteDetailsButton" style="" href="#" data-toggle="modal" data-target="#editProductModal"><i class="fa fa-edit" style="color:#387738;"></i></a>
                <a class="editDeleteDetailsButton" style="" href="#" onclick="deleteProduct(@Model.Id);"><i class="fa fa-trash" style="color:#c74646;"></i></a>
            </div>
            <div class="panel-body">
                @Html.HiddenFor(x => x.Id)
                <div class="row">
                    <div class="col-md-6 alignRight"><label>Product Name:</label></div>
                    <div class="col-md-6"><span>@Model.Name</span></div>
                </div>
                <div class="row">
                    <div class="col-md-6 alignRight"><label>Product Description:</label></div>
                    <div class="col-md-6"><span>@Model.Description</span></div>
                </div>
                <div class="row">
                    <div class="col-md-6 alignRight"><label>Product Price:</label></div>
                    <div class="col-md-6"><span>@Model.Price</span></div>
                </div>
                <div class="row">
                    <div class="col-md-6 alignRight"><label>Created:</label></div>
                    <div class="col-md-6"><span>@Model.Created_At</span></div>
                </div>
                <div class="row">
                    <div class="col-md-6 alignRight"><label>Updated:</label></div>
                    <div class="col-md-6"><span>@Model.Updated_At</span></div>
                </div>
            </div>
        </div>
    </div>

    @*Product review details*@
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">Product Reviews(@Model.Reviews.Count)</div>
            <div class="panel-body">
                <div style="overflow-x:auto">
                    <table class="table table-striped">
                        <thead class="thead-inverse">
                            <tr>
                                <th>
                                    User
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    Rating
                                </th>
                                <th>
                                    Created_At
                                </th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var review in Model.Reviews)
                            {
                                <tr>
                                    <th>
                                        @Html.DisplayFor(modelItem => review.UserModel.UserName)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => review.Description)
                                    </th>
                                    <th>
                                        @Html.DisplayFor(modelItem => review.Rating)
                                    </th>
                                    <th>
                                        @review.Created_At.ToString("dd-MM-yyyy HH:mm")
                                    </th>
                                    <th style="position:relative;">
                                        <div id="actionButtons">
                                            <a href="#" class="editDeleteDetailsButton" onclick="" data-toggle="modal" data-target="#editReviewModal_@review.Id"><i class="fa fa-edit" style="color:#387738;"></i></a>
                                            <a href="#" class="editDeleteDetailsButton" value="button" onclick="deleteReview(@review.Id)"><i class="fa fa-trash" style="color:#c74646;"></i></a>
                                        </div>
                                        <!-- Review Modal -->
                                        <div class="modal fade" id="editReviewModal_@review.Id" tabindex="-1" role="dialog" aria-labelledby="editReview" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h3 class="modal-title text-center">Edit Review</h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        @Html.Action("Admin_Review_Edit", "Review", new { reviewId = review.Id })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="editProductModal" tabindex="-1" role="dialog" aria-labelledby="addProduct" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center" id="exampleModalLabel">Edit Product</h3>
            </div>
            <div class="modal-body">
                @Html.Action("Admin_Product_Edit", "Product", new { productId = Model.Id })
            </div>
        </div>
    </div>
</div>




