﻿@model WebShop.Models.ProductModels

@{
    var subcategories = (List<SelectListItem>)ViewBag.subcategories;
}

<div id="errorContainer" class="alert alert-danger hidden">

</div>

<div class="form-horizontal">
    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        <div class="col-md-12">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product Name" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.TextAreaFor(model => model.Description, 4, 10, new { @class = "form-control", @placeholder = "Product Description" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product Image" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control", @placeholder = "Product Price" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.DropDownListFor(x => x.SubcategoryModelsId, subcategories, new { @class = "form-control", @placeholder = "Product Subcategory" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Edit" class="btn btn-primary" onclick="editProduct();" />
        </div>
    </div>
</div>


