﻿@model WebShop.Models.ProductModels

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/Details-form-style.css" rel="stylesheet" />
<link href="~/Content/Comment-box.css" rel="stylesheet" />
<link href="~/Content/Custome-box-container.css" rel="stylesheet" />
<link href="~/Content/Star-rating.css" rel="stylesheet" />

<div class="row" style="margin-top:150px">
    <input id="productId" type="hidden" name="productId" value="@Model.Id" />
    <div class="col-md-6">
        <div id="imageConteiner" style="background-color: rgba(255,255,255,1);">
            <img src="https://static.pexels.com/photos/34950/pexels-photo.jpg" alt="neki tekst" class="img-thumbnail">
        </div>
    </div>
    <div class="col-md-6">
        <div id="contentConteiner" style="height:100%;">
            <div id="detailsHeader" class="col-md-12">
                <h4>@Model.Name Details</h4>
            </div>
            <hr />
            <div id="detailsBody" class="col-md-12">
                <p>@Model.Description</p>
            </div>
            <div id="detailsFooter">
                <hr />
                <div class="row" style="margin:0;">
                    <div class="col-md-4 col-sm-12" style="margin:auto auto auto 0;">
                        <span id="price">
                            @Model.Price $
                        </span>
                    </div>
                    <div class="col-md-4 col-sm-12" style="margin:auto 0 auto auto;">
                        <label>
                            @for (int i = 0; i < Model.Rating; i++)
                            {
                                <span class="fa fa-star fa-2x checked"></span>
                            }

                            @for (int i = 0; i < 5 - Model.Rating; i++)
                            {
                                <span class="fa fa-star fa-2x"></span>
                            }
                        </label>
                    </div>
                </div>
                <div class="row" style="margin:0;bottom:0">
                    <div class="col-md-4 col-sm-12">

                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post">

                            <!-- Identify your business so that you can collect the payments. -->
                            <input type="hidden" name="business" value="herschelgomez@xyzzyu.com">

                            <!-- Specify a Buy Now button. -->
                            <input type="hidden" name="cmd" value="_xclick">

                            <!-- Specify details about the item that buyers will purchase. -->
                            <input type="hidden" name="item_name" value="@Model.Name">
                            <input type="hidden" name="amount" value="@Model.Price">
                            <input type="hidden" name="currency_code" value="USD">

                            <!-- Display the payment button. -->
                            <input class="btn btn-info" style="cursor:pointer;" type="submit" name="submit" border="0" value="Buy Now">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="margin:50px 0;">
        <div class="row">
            <div id="errorField" class="col-md-12 alert alert-danger hidden">
            </div>
            <div class="col-md-12">
                <label>Reviews(@Model.Reviews.Count)</label>
                <hr />
            </div>

            @*Add review section*@
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-sm-8" style="margin-bottom:50px">
                    <div class="row">
                        <div class="col-md-8" style="margin-bottom:5px;">
                            <textarea id="comment" name="comment" value="" placeholder="Add your review here..." class="form-control"></textarea>
                        </div>
                        <div class="col-md-12">
                            <ul class="rate-area">
                                <input type="radio" id="5-star" name="rating" value="5" />
                                <label for="5-star" title="Amazing">5 stars</label>
                                <input type="radio" id="4-star" name="rating" value="4" />
                                <label for="4-star" title="Good">4 stars</label>
                                <input type="radio" id="3-star" name="rating" value="3" />
                                <label for="3-star" title="Average">3 stars</label>
                                <input type="radio" id="2-star" name="rating" value="2" />
                                <label for="2-star" title="Not Good">2 stars</label>
                                <input type="radio" id="1-star" name="rating" value="1" />
                                <label for="1-star" title="Bad">1 star</label>
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <input type="button" name="addComment" value="Add" class="btn btn-default" onclick="myfunction();" />
                        </div>
                    </div>
                </div>
            }

            @*Added comment section*@
            @foreach (var item in Model.Reviews)
            {
                <div class="col-sm-8" style="margin:10px 0;">
                    <div class="panel panel-white post panel-shadow">
                        <div class="post-heading">
                            <div class="pull-left meta" style="word-wrap:break-word; max-width:100%;">
                                <div class="title h5">
                                    <a href="#"><b>@item.UserModel.UserName</b></a>
                                    made a post.
                                </div>
                                <h6 class="text-muted time">@item.Created_At</h6>
                            </div>
                        </div>
                        <div class="post-description">
                            <p>@item.Description</p>
                            <div class="stats">
                                <label>
                                    @for (int i = 0; i < item.Rating; i++)
                                    {
                                        <span class="fa fa-star fa-2x checked"></span>
                                    }

                                    @for (int i = 0; i < 5 - item.Rating; i++)
                                    {
                                        <span class="fa fa-star fa-2x"></span>
                                    }
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>

    //collect stars
    function myfunction() {
        var productId = $('#productId').val();
        var comment = $('#comment').val();
        var stars = $('.rate-area :input');

        for (var i = 0; i < stars.length; i++) {
            if (stars[i].checked) {
                var selectedStarValue = stars[i].value;
            }
        }

        $('#spinner').removeClass("hidden");

        $.ajax({
            type: "POST",
            url: '/Review/Create',
            data: {
                "productId": productId,
                "comment": comment,
                "selectedStar": selectedStarValue
            },
            dataType: 'json',
            success: function (data) {
                $('#spinner').addClass("hidden");

                if (data.success == true) {
                    location.reload();
                } else {
                    $("#errorField").html(data.responseText);
                    $("#errorField").removeClass("hidden");
                }
            }
        });
    }
</script>