﻿@model IEnumerable<WebShop.Models.ProductModels>
@using WebShop.Models

@{
    ViewBag.Title = "Index";

    var categories = (List<CategoryModels>)ViewBag.categories;
    int selectedCategory = (int)ViewBag.selectedCategory;

    var subcategories = (List<SubcategoryModels>)ViewBag.subcategories;
    int selectedSubcategory = (int)ViewBag.selectedSubcategory;

    int selectedPage = (int)ViewBag.selectedPage;
    int elementsPerPage = (int)ViewBag.elementsPerPage;
    double numberOfPages = (double)ViewBag.numberOfPages;
    int price = (int)ViewBag.price;
}

<link href="~/Content/Sidebar-filters.css" rel="stylesheet" />
<link href="~/Content/Custome-box-container.css" rel="stylesheet" />
<link href="~/Content/Range-slider.css" rel="stylesheet" />

<div id="container">
    <div class="row">

        @*filters*@
        <div class="filterBar">
            <ul id="filterItems">
                @*Search products*@
                <li>
                    <label>Search</label>
                    <input class="form-control" type="text" name="search" value="" placeholder="Search..." />
                </li>
                @*Category list*@
                <li>
                    <label><a href="#" data-toggle="tooltip" title="Choose your category to open subcategory section!"><i class="fa fa-info-circle"></i></a> Category</label>
                    <select id="category" class="form-control" onchange="numberOfElementsChange();">
                        <option value="0" @(selectedCategory == 0 ? "selected" : "")>Options</option>
                        @foreach (var item in categories)
                        {
                            <option value="@item.Id" @(selectedCategory == item.Id ? "selected" : "")>@item.Name</option>
                        }
                    </select>
                </li>
                @if (subcategories != null && subcategories.Count > 0)
                {
                    @*Subcategory list*@
                    <li class="">
                        <label><a href="#" data-toggle="tooltip" title="Choose your subcategory to show all items of that subcategory!"><i class="fa fa-info-circle"></i></a> Subcategory</label>
                        <select id="subcategory" class="form-control" onchange="numberOfElementsChange();">
                            <option value="0" @(selectedSubcategory == 0 ? "selected" : "")>Options</option>
                            @foreach (var item in subcategories)
                            {
                                <option value="@item.Id" @(selectedSubcategory == item.Id ? "selected" : "")>@item.Name</option>
                            }
                        </select>
                    </li>
                }
                @*Elements per page list*@
                <li>
                    <label><a href="#" data-toggle="tooltip" title="How many products do you want to display?"><i class="fa fa-info-circle"></i></a> Elements Per Page</label>
                    <select id="elementsPerPage" class="form-control" onchange="numberOfElementsChange();">
                        <option @(elementsPerPage == 5 ? "selected" : "") value="5">Options</option>
                        <option @(elementsPerPage == 10 ? "selected" : "") value="10">10</option>
                        <option @(elementsPerPage == 15 ? "selected" : "") value="15">15</option>
                        <option @(elementsPerPage == 20 ? "selected" : "") value="20">20</option>
                        <option @(elementsPerPage == 25 ? "selected" : "") value="25">25</option>
                    </select>
                </li>
                <li>
                    <label>test3</label>
                    <ul id="checkboxField">
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="true" checked="checked">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Check this custom checkbox1</span>
                            </label>
                        </li>
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="true">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Check this custom checkbox2</span>
                            </label>
                        </li>
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="true">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Check this custom checkbox3</span>
                            </label>
                        </li>
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="true">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Check this custom checkbox4</span>
                            </label>
                        </li>
                    </ul>
                </li>
                <li>
                    <label><a href="#" data-toggle="tooltip" title="Searches for all products that have a lower or same value as your choice!"><i class="fa fa-info-circle"></i></a> Pricer</label>
                    <div class="slidecontainer">
                        <input type="range" min="1" max="1000" value="@price" class="slider" id="myRange" onchange="priceChange();">
                        <p>Value: <span id="priceValue"></span></p>
                    </div>
                </li>
            </ul>
        </div>

        @*Products*@
        <div id="products" class="col-md-12">
            @foreach (var item in Model)
            {
                <div id="box" class="col-md-3">
                    <div id="header">
                        <a href="https://static.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg" data-lightbox="image-@item.Id">
                            <img src="https://static.pexels.com/photos/67636/rose-blue-flower-rose-blooms-67636.jpeg" alt="Alternate Text" data-lightbox="image-@item.Id" />
                        </a>
                    </div>
                    <div id="body">
                        <h5><a href="/Product/Details/@item.Id">@item.Name</a></h5>
                        @item.Description
                    </div>
                    <div id="footer">
                        <div class="footerItem"><label>@item.Price</label></div>
                        <div class="footerItem">
                            <label>
                                @for (int i = 0; i < item.Rating; i++)
                                {
                                    <span class="fa fa-star checked"></span>
                                }

                                @for (int i = 0; i < 5 - item.Rating; i++)
                                {
                                    <span class="fa fa-star"></span>
                                }
                            </label>
                        </div>
                    </div>
                </div>
            }
        </div>

        @*Paging*@
        @if (Model.Count() > 0)
        {
            <div id="paging" style="margin:auto;padding-bottom:100px;">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item @(selectedPage==0?"disabled":"")">
                            <a class="page-link" href="#" aria-label="Previous" onclick="paggingPageChange(@(selectedPage-1));">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        @for (int i = 0; i < numberOfPages; i++)
                        {
                            <li class="page-item"><a class="page-link @(selectedPage==i?"active":"")" href="#" onclick="paggingPageChange(@i);">@(i + 1)</a></li>
                        }
                        <li class="page-item @(selectedPage==(numberOfPages-1)?"disabled":"")">
                            <a class="page-link" href="#" aria-label="Next" onclick="paggingPageChange(@(selectedPage+1));">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        }

    </div>
</div>

<script>
    //number of elements per page event
    function numberOfElementsChange() {
        var ePP = $("#elementsPerPage").val();
        var category = $("#category").val();
        var subcategory = $("#subcategory").val();

        var url = "/Product/Index_Partial?selectedPage=" + 0 + "&elementsPerPage=" + ePP + "&selectedCategory=" + category + "&selectedSubcategory=" + subcategory;

        $.ajax({
            url: url,
            type: "GET",
            success: function (response) {
                $("#ajaxContainer").html(response);
                $('[data-toggle="tooltip"]').tooltip();
                window.scrollTo(0, 0);
            }
        });
    }

    //pagging event
    function paggingPageChange(pageNumber) {
        var ePP = $("#elementsPerPage").val();
        var category = $("#category").val();
        var subcategory = $("#subcategory").val();

        var url = "/Product/Index_Partial?selectedPage=" + pageNumber + "&elementsPerPage=" + ePP + "&selectedCategory=" + category + "&selectedSubcategory=" + subcategory;

        $.ajax({
            url: url,
            type: "GET",
            success: function (response) {
                $("#ajaxContainer").html(response);
                $('[data-toggle="tooltip"]').tooltip();
                window.scrollTo(0, 0);
            }
        });
    }

    //price event
    function priceChange() {
        var ePP = $("#elementsPerPage").val();
        var category = $("#category").val();
        var subcategory = $("#subcategory").val();
        var price = $("#myRange").val();

        var url = "/Product/Index_Partial?selectedPage=" + 0 + "&elementsPerPage=" + ePP + "&selectedCategory=" + category + "&selectedSubcategory=" + subcategory + "&price=" + price;

        $.ajax({
            url: url,
            type: "GET",
            success: function (response) {
                $("#ajaxContainer").html(response);
                $('[data-toggle="tooltip"]').tooltip();
                window.scrollTo(0, 0);
            }
        });
    }

    var slider = document.getElementById("myRange");
    var output = document.getElementById("priceValue");
    output.innerHTML = slider.value; // Display the default slider value

    // Update the current slider value (each time you drag the slider handle)
    slider.oninput = function () {
        output.innerHTML = this.value;
    }

</script>
