﻿@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <title>Dashboard | Klorofil - Free Bootstrap Dashboard Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link href="~/Content/AdminPanelStyle/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/AdminPanelStyle/linearicons/style.css" rel="stylesheet" />
    <link href="~/Content/AdminPanelStyle/chartist/css/chartist-custom.css" rel="stylesheet" />
    <!-- MAIN CSS -->
    <link href="~/Content/AdminPanelStyle/main.css" rel="stylesheet" />
    <!-- FOR DEMO PURPOSES ONLY. You should remove this in your project -->
    <link href="~/Content/AdminPanelStyle/demo.css" rel="stylesheet" />
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/AdminPanelStyle/icons/apple-icon.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/Content/AdminPanelStyle/icons/favicon.png">

    <link href="~/Content/AdminPanelStyle/tableStyle/table.css" rel="stylesheet" />
    <link href="~/Content/Spinner.css" rel="stylesheet" />
    <link href="~/Content/AdminPanelStyle/text-button-style.css" rel="stylesheet" />

</head>

<body>
    <!-- WRAPPER -->
    <div id="wrapper">
        <!-- NAVBAR -->
        <nav class="navbar navbar-default navbar-fixed-top">
            @*logo*@
            <div class="brand">
                <a href="#" onclick="dashboardControlPanel();"><img src="~/images/ColoShopLogo-1.png" alt="Colo Shop" class="img-responsive logo" height="50" width="50"></a>
            </div>

            <div class="container-fluid">
                @*open/close sidebar*@
                <div class="navbar-btn">
                    <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
                </div>

                @*user options*@
                <div id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown" style="background:none;">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>@User.Identity.Name</span><i class="icon-submenu lnr lnr-chevron-down"></i></a>
                            <ul class="dropdown-menu" style="background:white;">
                                <li><a href="#"><i class="lnr lnr-user"></i> <span>My Profile</span></a></li>
                                <li><a href="#"><i class="lnr lnr-cog"></i> <span>Settings</span></a></li>
                                <li><a href="/Admin/LogOut"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END NAVBAR -->
        <!-- LEFT SIDEBAR -->
        <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
                <nav>
                    <ul id="navigationList" class="nav">
                        <li><a href="#" class="active" onclick="dashboardControlPanel();"><i class="lnr lnr-home"></i> <span>Panel</span></a></li>
                        <li><a id="productsControlPanel" href="#" class=""><i class="lnr lnr-code"></i> <span>Products</span></a></li>
                        <li><a id="categoriesControlPanel" href="#" class=""><i class="lnr lnr-chart-bars"></i> <span>Categories</span></a></li>
                        <li><a id="subcategoriesControlPanel" href="#" class=""><i class="lnr lnr-cog"></i> <span>Subcategories</span></a></li>
                        <li>
                            <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cog"></i> <span>Shop Settings</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                            <div id="subPages" class="collapse ">
                                <ul class="nav">
                                    <li><a href="page-profile.html" class="">...</a></li>
                                    <li><a href="page-login.html" class="">...</a></li>
                                    <li><a href="page-lockscreen.html" class="">...</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- END LEFT SIDEBAR -->
        
        <div id="spinner" class="spinner hidden">
            <i class="fa fa-spinner fa-spin" style="margin: 350px auto; color:white;"></i>
        </div>

        <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
                <div id="mainContainer" class="container-fluid">
                    <div id="divdeps" style="display:none" title=""></div>
                    @Html.Action("MainPanel","Admin")
                </div>
            </div>
        </div>

    </div>
    <!-- END WRAPPER -->
    <!-- Javascript -->
    <script src="~/Scripts/js/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/plugins/themeBootstrapJs/popper.min.js"></script>
    <script src="~/Scripts/plugins/themeBootstrapJs/bootstrap.min.js"></script>
    <script src="~/Scripts/admin-panel/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/admin-panel/jquery.easypiechart.min.js"></script>
    <script src="~/Content/AdminPanelStyle/chartist/js/chartist.min.js"></script>
    <script src="~/Scripts/admin-panel/klorofil-common.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    @*Charts script*@
    <script>
        $(function () {
            var data, options;

            // headline charts
            data = {
                labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                series: [
                    [23, 29, 24, 40, 25, 24, 35],
                    [14, 25, 18, 34, 29, 38, 44],
                ]
            };

            options = {
                height: 300,
                showArea: true,
                showLine: false,
                showPoint: false,
                fullWidth: true,
                axisX: {
                    showGrid: false
                },
                lineSmooth: false,
            };

            new Chartist.Line('#headline-chart', data, options);


            // visits trend charts
            data = {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
                series: [{
                    name: 'series-real',
                    data: [200, 380, 350, 320, 410, 450, 570, 400, 555, 620, 750, 900],
                }, {
                    name: 'series-projection',
                    data: [240, 350, 360, 380, 400, 450, 480, 523, 555, 600, 700, 800],
                }]
            };

            options = {
                fullWidth: true,
                lineSmooth: false,
                height: "270px",
                low: 0,
                high: 'auto',
                series: {
                    'series-projection': {
                        showArea: true,
                        showPoint: false,
                        showLine: false
                    },
                },
                axisX: {
                    showGrid: false,

                },
                axisY: {
                    showGrid: false,
                    onlyInteger: true,
                    offset: 0,
                },
                chartPadding: {
                    left: 20,
                    right: 20
                }
            };

            new Chartist.Line('#visits-trends-chart', data, options);


            // visits chart
            data = {
                labels: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
                series: [
                    [6384, 6342, 5437, 2764, 3958, 5068, 7654]
                ]
            };

            options = {
                height: 300,
                axisX: {
                    showGrid: false
                },
            };

            new Chartist.Bar('#visits-chart', data, options);


            // real-time pie chart
            var sysLoad = $('#system-load').easyPieChart({
                size: 130,
                barColor: function (percent) {
                    return "rgb(" + Math.round(200 * percent / 100) + ", " + Math.round(200 * (1.1 - percent / 100)) + ", 0)";
                },
                trackColor: 'rgba(245, 245, 245, 0.8)',
                scaleColor: false,
                lineWidth: 5,
                lineCap: "square",
                animate: 800
            });

            var updateInterval = 3000; // in milliseconds

            setInterval(function () {
                var randomVal;
                randomVal = getRandomInt(0, 100);

                //sysLoad.data('easyPieChart').update(randomVal);
                sysLoad.find('.percent').text(randomVal);
            }, updateInterval);

            function getRandomInt(min, max) {
                return Math.floor(Math.random() * (max - min + 1)) + min;
            }

        });
    </script>

    @*Navigation script*@
    <script>
        //main admin panel page
        function dashboardControlPanel() {
            $("#spinner").removeClass("hidden");

            checkIsActive();

            $(this).addClass("active");

            $.ajax({
                url: "/Admin/MainPanel",
                type: "GET",
                success: function (response) {
                    $("#spinner").addClass("hidden");
                    $("#mainContainer").html(response);
                }
            });
        }

        function checkIsActive() {
            $("#navigationList li").each(function (i) {
                var aTag = $(this).find("a");
                if (aTag.hasClass("active")) {
                    aTag.removeClass("active");
                }
            });
        }

        //main products page
        $("#productsControlPanel").click(function () {
            $("#spinner").removeClass("hidden");

            checkIsActive();

            $(this).addClass("active");

            $.ajax({
                url: "/Product/Admin_Product_Index",
                type: "GET",
                success: function (response) {
                    $("#spinner").addClass("hidden");
                    $("#mainContainer").html(response);
                }
            });
        })

        //main category page
        $("#categoriesControlPanel").click(function () {
            $("#spinner").removeClass("hidden");

            checkIsActive();

            $(this).addClass("active");

            $.ajax({
                url: "/Category/Admin_Category_Index",
                type: "GET",
                success: function (response) {
                    $("#spinner").addClass("hidden");
                    $("#mainContainer").html(response);
                }
            });
        })
        
        //main category page
        $("#subcategoriesControlPanel").click(function () {
            $("#spinner").removeClass("hidden");

            checkIsActive();

            $(this).addClass("active");

            $.ajax({
                url: "/Subcategory/Admin_Subcategory_Index",
                type: "GET",
                success: function (response) {
                    $("#spinner").addClass("hidden");
                    $("#mainContainer").html(response);
                }
            });
        })
    </script>

    @*Script for adding new product*@
    <script>
        function addNewProduct() {
            //activate spinner
            $("#spinner").removeClass("hidden");

            //prepare error container
            var errorContainer = $("#errorContainer");

            //get values from form
            var productName = $("#Name").val();
            var productDesc = $("#Description").val();
            var productImage = $("#ImagePath").val();
            var productPrice = $("#Price").val();
            var productSubcategory = $("#SubcategoryModelsId").val();

            $.ajax({
                url: "/Product/Admin_Product_Create",
                type: "POST",
                data: {
                    "Name": productName,
                    "Description": productDesc,
                    "ImagePath": productImage,
                    "Price": productPrice,
                    "SubcategoryModelsId": productSubcategory
                },
                success: function (response) {
                    $("#spinner").addClass("hidden");

                    if (response.success == true) {
                        $.ajax({
                            url: "/Product/Admin_Product_Index",
                            type: "GET",
                            success: function (response) {
                                $("#mainContainer").html(response);
                            }
                        });

                        //hide modal
                        $("body").removeClass("modal-open");
                        $(".modal-backdrop").remove();
                    } else {
                        //clear error container so that the errors dont repeat themselves
                        errorContainer.html("");

                        //append errors to container
                        for (var i = 0; i < response.responseMessage.length; i++) {
                            errorContainer.append(response.responseMessage[i] + "</br>");
                        }

                        //make it visible
                        errorContainer.removeClass("hidden");
                    }

                }
            });

        }

    </script>

    @*Script for editing product*@
    <script>
        function editProduct() {
            $("#spinner").removeClass("hidden");

            var errorContainer = $("#errorContainer");

            var productId = $("#Id").val();
            var productRating = $("#Rating").val();
            var productName = $("#Name").val();
            var productDesc = $("#Description").val();
            var productImage = $("#ImagePath").val();
            var productPrice = $("#Price").val();
            var productSubcategory = $("#SubcategoryModelsId").val();

            $.ajax({
                url: "/Product/Admin_Product_Edit",
                type: "POST",
                data: {
                    "Id": productId,
                    "Rating": productRating,
                    "Name": productName,
                    "Description": productDesc,
                    "ImagePath": productImage,
                    "Price": productPrice,
                    "SubcategoryModelsId": productSubcategory
                },
                success: function (response) {
                    $("#spinner").addClass("hidden");

                    if (response.success == true) {
                        $.ajax({
                            url: "/Product/Admin_Product_Details?productId=" + productId,
                            type: "GET",
                            success: function (response) {
                                $("#mainContainer").html(response);
                            }
                        });

                        //hide modal
                        $("body").removeClass("modal-open");
                        $(".modal-backdrop").remove();
                    } else {
                        //clear error container so that the errors dont repeat themselves
                        errorContainer.html("");

                        //append errors to container
                        for (var i = 0; i < response.responseMessage.length; i++) {
                            errorContainer.append(response.responseMessage[i] + "</br>");
                        }

                        //make it visible
                        errorContainer.removeClass("hidden");
                    }
                }
            });
        }

    </script>

    @*Script for geting product details*@
    <script>
        function getDetails(productId) {
            $("#spinner").removeClass("hidden");

            $.ajax({
                url: "/Product/Admin_Product_Details?productId=" + productId,
                type: "GET",
                success: function (response) {
                    $("#spinner").addClass("hidden");
                    $("#mainContainer").html(response);
                }
            });
        }
    </script>

    @*Script for deleting product*@
    <script>
    function deleteProduct(productId) {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover this product!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((willDelete) => {
            if (willDelete) {
                $.ajax({
            url:"/Product/Admin_Product_Delete?productId=" + productId,
        type:"POST",
        success:function(response){
            if(response.success == true){
                swal(response.responseMessage,{icon: "success"}).then((x) => {
                    $.ajax({
                        url: "/Product/Admin_Product_Index",
                        type: "GET",
                        success: function (response) {
                            $("#mainContainer").html(response);
                        }
                    })
                })
            }
        }
    })
    }
    })
    }
    </script>

    @*Script for editing review*@
    <script>
        function editReview(reviewId) {
            $("#spinner").removeClass("hidden");

            var errorContainer = $("#errorContainer");

            var productId = $("#Id").val();
            var reviewId = reviewId;
            var reviewDescription= $("#Description_" + reviewId).val();
            var reviewRating = $("#Rating_" + reviewId).val();

            $.ajax({
                url: "/Review/Admin_Review_Edit",
                type: "POST",
                data: {
                    "Id": reviewId,
                    "Rating": reviewRating,
                    "Description": reviewDescription
                },
                success: function (response) {
                    $("#spinner").addClass("hidden");

                    if (response.success == true) {
                        $.ajax({
                            url: "/Product/Admin_Product_Details?productId=" + productId,
                            type: "GET",
                            success: function (response) {
                                $("#mainContainer").html(response);
                            }
                        });

                        //hide modal
                        $("body").removeClass("modal-open");
                        $(".modal-backdrop").remove();
                    } else {
                        //clear error container so that the errors dont repeat themselves
                        errorContainer.html("");

                        //append errors to container
                        for (var i = 0; i < response.responseMessage.length; i++) {
                            errorContainer.append(response.responseMessage[i] + "</br>");
                        }

                        //make it visible
                        errorContainer.removeClass("hidden");
                    }
                }
            });
        }

    </script>

    @*Script for deleting review*@
    <script>
        function deleteReview(reviewId) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this review!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                url:"/Review/Admin_Review_Delete?reviewId=" + reviewId,
            type:"POST",
            success:function(response){
                if(response.success == true){
                    swal(response.responseMessage,{icon: "success"}).then((x) => {
                        $.ajax({
                            url: "/Product/Admin_Product_Details?productId=" + $("#Id").val(),
                            type: "GET",
                            success: function (response) {
                                $("#mainContainer").html(response);
                            }
                        })
                    })
                }
            }
        })
        }
        })
        }
    </script>

    @*Script for adding new category*@
    <script>
    function addNewCategory() {
        //activate spinner
        $("#spinner").removeClass("hidden");

        //prepare error container
        var errorContainer = $("#errorContainer");

        //get values from form
        var productName = $("#Name").val();

        $.ajax({
            url: "/Category/Admin_Category_Create",
            type: "POST",
            data: {
                "Name": productName
            },
            success: function (response) {
                $("#spinner").addClass("hidden");

                if (response.success == true) {
                    $.ajax({
                        url: "/Category/Admin_Category_Index",
                        type: "GET",
                        success: function (response) {
                            $("#mainContainer").html(response);
                        }
                    });

                    //hide modal
                    $("body").removeClass("modal-open");
                    $(".modal-backdrop").remove();
                } else {
                    //clear error container so that the errors dont repeat themselves
                    errorContainer.html("");

                    //append errors to container
                    for (var i = 0; i < response.responseMessage.length; i++) {
                        errorContainer.append(response.responseMessage[i] + "</br>");
                    }

                    //make it visible
                    errorContainer.removeClass("hidden");
                }
            }
        });
    }
    </script>

    @*Script for editing category*@
    <script>
        function editCategory(categoryId) {
            $("#spinner").removeClass("hidden");

            var errorContainer = $("#errorContainer");

            var categoryName = $("#Name_" + categoryId).val();

            $.ajax({
                url: "/Category/Admin_Category_Edit",
                type: "POST",
                data: {
                    "Id": categoryId,
                    "Name": categoryName
                },
                success: function (response) {
                    $("#spinner").addClass("hidden");

                    if (response.success == true) {
                        $.ajax({
                            url: "/Category/Admin_Category_Index",
                            type: "GET",
                            success: function (response) {
                                $("#mainContainer").html(response);
                            }
                        });

                        //hide modal
                        $("body").removeClass("modal-open");
                        $(".modal-backdrop").remove();
                    } else {
                        //clear error container so that the errors dont repeat themselves
                        errorContainer.html("");

                        //append errors to container
                        for (var i = 0; i < response.responseMessage.length; i++) {
                            errorContainer.append(response.responseMessage[i] + "</br>");
                        }

                        //make it visible
                        errorContainer.removeClass("hidden");
                    }
                }
            });
        }

    </script>

    @*Script for deleting category*@
    <script>
        function deleteCategory(categoryId) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this category!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                url:"/Category/Admin_Category_Delete?categoryId=" + categoryId,
                type:"POST",
                success:function(response){
                if(response.success == true){
                    swal(response.responseMessage,{icon: "success"}).then((x) => {
                        $.ajax({
                            url: "/Category/Admin_Category_Index",
                            type: "GET",
                            success: function (response) {
                                $("#mainContainer").html(response);
                            }
                        })
                    })
                }
              }
            })
            }
        })
        }
    </script>

    @*Script for adding new subcategory*@
    <script>
        function addNewSubcategory() {
            //activate spinner
            $("#spinner").removeClass("hidden");

            //prepare error container
            var errorContainer = $("#errorContainer");

            //get values from form
            var subcategoryName = $("#Name").val();
            var subcategoryCategoryId = $("#Category").val();

            $.ajax({
                url: "/Subcategory/Admin_Subcategory_Create",
                type: "POST",
                data: {
                    "Name": subcategoryName,
                    "CategoryModelsId": subcategoryCategoryId
                },
                success: function (response) {
                    $("#spinner").addClass("hidden");

                    if (response.success == true) {
                        $.ajax({
                            url: "/Subcategory/Admin_Subcategory_Index",
                            type: "GET",
                            success: function (response) {
                                $("#mainContainer").html(response);
                            }
                        });

                        //hide modal
                        $("body").removeClass("modal-open");
                        $(".modal-backdrop").remove();
                    } else {
                        //clear error container so that the errors dont repeat themselves
                        errorContainer.html("");

                        //append errors to container
                        for (var i = 0; i < response.responseMessage.length; i++) {
                            errorContainer.append(response.responseMessage[i] + "</br>");
                        }

                        //make it visible
                        errorContainer.removeClass("hidden");
                    }
                }
            });
        }
    </script>

    @*Script for editing subcategory*@
    <script>
        function editSubcategory(subcategoryId) {
            $("#spinner").removeClass("hidden");

            var errorContainer = $("#errorContainer");

            var subcategoryName = $("#Name_" + subcategoryId).val();
            var subcategoryCategory = $("#Category_" + subcategoryId).val();

            $.ajax({
                url: "/Subcategory/Admin_Subcategory_Edit",
                type: "POST",
                data: {
                    "Id": subcategoryId,
                    "Name": subcategoryName,
                    "CategoryModelsId": subcategoryCategory
                },
                success: function (response) {
                    $("#spinner").addClass("hidden");

                    if (response.success == true) {
                        $.ajax({
                            url: "/Subcategory/Admin_Subcategory_Index",
                            type: "GET",
                            success: function (response) {
                                $("#mainContainer").html(response);
                            }
                        });

                        //hide modal
                        $("body").removeClass("modal-open");
                        $(".modal-backdrop").remove();
                    } else {
                        //clear error container so that the errors dont repeat themselves
                        errorContainer.html("");

                        //append errors to container
                        for (var i = 0; i < response.responseMessage.length; i++) {
                            errorContainer.append(response.responseMessage[i] + "</br>");
                        }

                        //make it visible
                        errorContainer.removeClass("hidden");
                    }
                }
            });
        }

    </script>

    @*Script for deleting subcategory*@
    <script>
        function deleteSubcategory(subcategoryId) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this subcategory!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                url:"/Subcategory/Admin_Subcategory_Delete?subcategoryId=" + subcategoryId,
            type:"POST",
            success:function(response){
                if(response.success == true){
                    swal(response.responseMessage,{icon: "success"}).then((x) => {
                        $.ajax({
                            url: "/Subcategory/Admin_Subcategory_Index",
                            type: "GET",
                            success: function (response) {
                                $("#mainContainer").html(response);
                            }
                        })
                    })
                }
            }
        })
        }
        })
        }
    </script>

    @*Global ajax error handler*@
    <script>
        $(document).ajaxError(function(e , xhr){
            if (xhr.status == 403) {
                location.href = "/Admin/Index";
            }
        })
    </script>
</body>

</html>
