﻿@{
    Layout = null;
}

<meta name="viewport" content="width=device-width" />
<link href="~/Content/Admin-login.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Scripts/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<style>
    .displayNone {
        display:none;
    }
</style>

<div class="container">
    <div class="login-container">
        <div id="output"></div>
        <div class="avatar">
            <img src="~/images/ColoShopLogo-1.png" style="margin:auto;" />
        </div>
        <div id="errorBox" class="alert alert-danger hidden"></div>
        <div class="form-box">
            <input id="username" name="username" type="text" placeholder="username">
            <input id="password" name="password" type="password" placeholder="password">
            <button id="loginButton" class="btn btn-info btn-block login" type="submit">Login</button>
            <div id="loginSpinner" class="displayNone"><span class="btn fa fa-spinner fa-spin"></span></div>
        </div>
    </div>

</div>
<script src="~/Scripts/js/jquery-3.2.1.min.js"></script>

<script>
    $("button[type=submit]").click(function() {
        var username = $("#username").val();
        var password = $("#password").val();

        $("#loginButton").addClass("displayNone");
        $("#loginSpinner").removeClass("displayNone");

        $.ajax({
            url: "/Admin/Login",
            type: "POST",
            data: {
                "username": username,
                "password": password
            },
            success: function (response) {
                if (response.success == false) {
                    console.log(response);
                    $("#errorBox").removeClass("hidden");
                    $("#errorBox").html(response.responseMessage);

                    $("#loginButton").removeClass("displayNone");
                    $("#loginSpinner").addClass("displayNone");
                } else {
                    location.href = "/Admin/AdminPanel"
                }
            }
        });
    })
</script>