﻿@model WebShop.Models.SubcategoryModels
@using WebShop.Models

@{
    List<CategoryModels> categories = (List<CategoryModels>)ViewBag.categories;
}

<div id="errorContainer" class="alert alert-danger hidden">

</div>

<div class="form-horizontal">

    <div class="form-group">
        <div class="col-md-12">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Subcategory Name" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <select class="form-control" id="Category">
                @if (categories != null)
                {
                    foreach (var category in categories)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Create" class="btn btn-primary" onclick="addNewSubcategory();" />
        </div>
    </div>
</div>





