﻿@model IEnumerable<WebShop.Models.SubcategoryModels>

<div class="panel">

    <p class="panel-heading">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addNewSubcategoryModal">Add New</a>
    </p>

    <div style="overflow-x:auto" class="panel-body">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        Category
                    </th>
                    <th>
                        Subcategory
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.CategoryModels.Name)
                        </th>
                        <th>
                            @Html.DisplayFor(modelItem => item.Name)
                        </th>
                        <th style="position:relative;">
                            <div id="actionButtons">
                                <a href="#" class="editDeleteDetailsButton" data-toggle="modal" data-target="#editSubcategoryModal_@item.Id"><i class="fa fa-edit" style="color:#387738;"></i></a>
                                <a href="#" class="editDeleteDetailsButton" value="button" onclick="deleteSubcategory(@item.Id);"><i class="fa fa-trash" style="color:#c74646;"></i></a>
                            </div>
                            <!-- Category Modal -->
                            <div class="modal fade" id="editSubcategoryModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="editSubcategory" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title text-center">Edit Subcategory</h3>
                                        </div>
                                        <div class="modal-body">
                                            @Html.Action("Admin_Subcategory_Edit", "Subcategory", new { subcategoryId = item.Id })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addNewSubcategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategory" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Add New Subcategory</h3>
            </div>
            <div class="modal-body">
                @Html.Action("Admin_Subcategory_Create", "Subcategory")
            </div>
        </div>
    </div>
</div>






