﻿@model WebShop.Models.CategoryModels

<div id="errorContainer" class="alert alert-danger hidden">

</div>

<div class="form-horizontal">

    <div class="form-group">
        <div class="col-md-12">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Category Name" } })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-12">
            <input type="submit" value="Create" class="btn btn-primary" onclick="addNewCategory();" />
        </div>
    </div>
</div>




