﻿@model WebShop.Models.CategoryModels

<div id="errorContainer" class="alert alert-danger hidden">

</div>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12" style="margin-bottom:5px;">
            <input type="text" id="Name_@Model.Id" name="Name" placeholder="Category Name" class="form-control" value="@Model.Name"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12" style="text-align:left">
            <input type="submit" value="Edit" class="btn btn-primary" onclick="editCategory(@Model.Id);" />
        </div>
    </div>
</div>

