﻿@model IEnumerable<WebShop.Models.CategoryModels>

<div class="panel">

    <p class="panel-heading">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addNewCategoryModal">Add New</a>
    </p>

    <div style="overflow-x:auto" class="panel-body">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        Category
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th>
                            @Html.DisplayFor(modelItem => item.Name)
                        </th>
                        <th style="position:relative;">
                            <div id="actionButtons">
                                <a href="#" class="editDeleteDetailsButton" data-toggle="modal" data-target="#editCategoryModal_@item.Id"><i class="fa fa-edit" style="color:#387738;"></i></a>
                                <a href="#" class="editDeleteDetailsButton" value="button" onclick="deleteCategory(@item.Id);"><i class="fa fa-trash" style="color:#c74646;"></i></a>
                            </div>
                            <!-- Category Modal -->
                            <div class="modal fade" id="editCategoryModal_@item.Id" tabindex="-1" role="dialog" aria-labelledby="editCategory" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title text-center">Edit Category</h3>
                                        </div>
                                        <div class="modal-body">
                                            @Html.Action("Admin_Category_Edit", "Category", new { categoryId = item.Id })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addNewCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategory" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title text-center">Add New Category</h3>
            </div>
            <div class="modal-body">
                @Html.Action("Admin_Category_Create", "Category")
            </div>
        </div>
    </div>
</div>





