﻿#detailsBody {
    margin-bottom: 20%;
}

#detailsFooter #price {
    font-size: 35px;
}

#detailsFooter {
    bottom: 0;
    position: absolute;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    #detailsFooter {
        position: relative;
    }

        #detailsFooter > div {
            width: 100%;
        }
}

@media (max-width: 1100px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: none;
        max-width: 100%;
    }
}
