﻿.spinnerStyle {
    text-align: center;
    position: fixed;
    background-color: rgba(255,255,255,0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
}

    .spinnerStyle img {
        margin-top: 250px;
        z-index: 9999;
    }

.spinner {
    position: fixed;
    z-index: 99999;
    font-size: 100px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: rgba(0,0,0,0.5);
}
