﻿<!DOCTYPE html>
<html>
<head>
    <title>WebShop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Colo Shop Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="~/Content/ThemeStyle/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ThemeStyle/main_styles.min.css" rel="stylesheet" />
    <link href="~/Content/ThemeStyle/responsive.min.css" rel="stylesheet" />
    <link href="~/Content/Toggle_button.min.css" rel="stylesheet" />
    <link href="~/Content/lightbox/lightbox.min.css" rel="stylesheet" />
    <link href="~/Content/Spinner.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/OwlCarousel2-2.2.1/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/OwlCarousel2-2.2.1/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/OwlCarousel2-2.2.1/animate.min.css" rel="stylesheet" />
    <link href="~/Scripts/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <style>
        .hidden {
            visibility:hidden;
        }
    </style>

</head>
<body>
    <header class="header trans_300">
        <!-- Main Navigation -->

        <div class="main_nav_container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="logo_container">
                            <a href="/Home/Index">colo<span>shop</span></a>
                        </div>
                        <nav class="navbar">
                            <ul class="navbar_menu">
                                <li><a href="/Home/Index">home</a></li>
                                <li><a href="/Product/Index">shop</a></li>
                                <li><a href="#">blog</a></li>
                                <li><a href="#">contact</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li><a href="#">@User.Identity.Name</a></li>
                                    <li><a href="/Account/LogOff">signOut</a></li>
                                }
                                else
                                {
                                    <li><a href="/Account/Register">register</a></li>
                                    <li><a href="/Account/Login">signIn</a></li>
                                }
                            </ul>
                            <ul class="navbar_user">
                                <li class="checkout">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span id="checkout_items" class="checkout_items"></span>
                                    </a>
                                </li>
                            </ul>
                            <div class="hamburger_container">
                                <a href="#" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i></a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        @*toggle menu*@
        <div class="topnav" id="myTopnav">
            <ul class="on">
                <li><a href="/Home/Index"><i class="fa fa-home"></i><span>HOME</span></a></li>
                <li><a href="/Product/Index"><i class="fa fa-shopping-cart"></i><span>SHOP</span></a></li>
                <li><a href="#"><i class="fa fa-newspaper-o"></i><span>BLOG</span></a></li>
                <li><a href="#"><i class="fa fa-phone"></i><span>CONTACT</span></a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="/Account/LogOff"><i class="fa fa-sign-out"></i><span>SIGNOUT</span></a></li>
                }
                else
                {
                    <li><a href="/Account/Register"><i class="fa fa-user-plus"></i><span>REGISTER</span></a></li>
                    <li><a href="/Account/Login"><i class="fa fa-sign-in"></i><span>SIGNIN</span></a></li>
                }
            </ul>
        </div>
    </header>

    <div class="container body-content">
        <div id="spinner" class="spinnerStyle hidden">
            <img src="~/images/lg.rotating-balls-spinner.gif" />
        </div>
        @RenderBody()
    </div>

    <script src="~/Scripts/js/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/plugins/themeBootstrapJs/popper.min.js"></script>
    <script src="~/Scripts/plugins/themeBootstrapJs/bootstrap.min.js"></script>
    <script src="~/Scripts/plugins/Isotope/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/plugins/OwlCarousel2-2.2.1/owl.carousel.min.js"></script>
    <script src="~/Scripts/plugins/easing/easing.min.js"></script>
    <script src="~/Scripts/js/custom.min.js"></script>
    <script src="~/Scripts/lightbox/lightbox.min.js"></script>

    <script>
        /* Toggle between adding and removing the "responsive" class to topnav when the user clicks on the icon */
        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</body>
</html>
