﻿
@{
    ViewBag.Title = "ConfirmMail";
}

<div style="margin-top:200px; text-align:center;">
    <h2 style="text-align:center">Thank you for registering to our page we hope that you will find something that suits you best , before you go and shop pls visit your mail to verify your account.</h2>
</div>

