﻿th {
    text-align: center;
}

thead {
    background: #2B333E;
    color: white;
}

    .show {
        display: block !important;
        opacity: 1;
        background: rgba(0,0,0,0.5);
    }

    .modal-dialog {
        margin-top:60%;
    }

@media only screen and (max-width: 1000px){
    #actionButtons a{
        width:100%;
        margin:5px 0;
    }
}

@media (min-width: 768px){
    .modal-dialog {
        width: 600px;
        margin: 10% auto !important;
    }
}

