﻿@model WebShop.Models.ReviewModels

<div id="errorContainer" class="alert alert-danger hidden">

</div>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12" style="margin-bottom:5px;">
            <textarea id="Description_@Model.Id" name="Description" placeholder="Add your review here..." class="form-control">@Model.Description</textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            <select class="form-control" id="Rating_@Model.Id">
                @for (int i = 1; i <= 5; i++)
                {
                    <option @(Model.Rating == i?"selected":"") value="@i">@(i)</option>
                }
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12" style="text-align:left">
            <input type="submit" value="Edit" class="btn btn-primary" onclick="editReview(@Model.Id);" />
        </div>
    </div>
</div>
