﻿.editDeleteDetailsButton {
    border-radius: 100%;
    padding: 10px;
    width: 50px;
    text-align: center;
    vertical-align: middle;
}

    .editDeleteDetailsButton i {
        font-size: 1.5em;
        color: black;
    }

@media only screen and (max-width: 900px){
    .alignRight {
        text-align:left !important;
    }
}
